server {
	listen			443 ssl;
	server_name		{{ inventory_hostname }};
	ssl_certificate		/etc/pki/tls/certs/nginx.crt;
	ssl_certificate_key	/etc/pki/tls/certs/nginx.key;
	ssl_protocols		TLSv1 TLSv1.1 TLSv1.2;
	ssl_ciphers		HIGH:!aNULL:!MD5;

	include /etc/nginx/ssl.d/*.conf;
}
